---
---

body {
    background: #282828;
    color: #ebdbb2;
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
}

h1 {
    color: #8ec07c;

    span.dim {
        color: #a89984;
    }
}

.img-thumbnail {
    background-color: #ebdbb2;
}
