---
---

@import url(https://fonts.googleapis.com/css?family=Enriqueta);

html {
    background: #000;
    background: url(/img/splash.jpg) no-repeat 80% 80% fixed;
    background-size: cover;
}

body {
    background: none;
    font-family: 'Enriqueta';
}

h3 {
    font-variant: all-small-caps;
}
