<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% if page.title %}
        <title>{{ page.title }} - {{ site.title }}</title>
        {% else %}
        <title>{{ site.title }}</title>
        {% endif %}

        <meta name="author" content="{{ site.author.name }}">
        {% if page.description %}
        <meta name="description" content="{{ page.description }}">
        {% else %}
        <meta name="description" content="{{ site.title }} {{ page.title }}">
        {% endif %}

        {% if page.keywords %}
        <meta name="keywords" content="{{ page.keywords }}">
        {% endif %}

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/css/desheffer.css">
    </head>
    <body>
        {{ content }}
    </body>
</html>
